<div class="banner">
   <div class="content" id="card-contents">
      <img id="logo" src={{logo}}>
      <div class="title-wrapper">
         <img id="title-logo" src={{title}}>
         {{flag}}
      </div>
   </div>
</div>
