<div class="account-portal-container" id="register-pane">
  <div class="form-container">

    <h1 class="mt-5 mb-4">Register</h1>

    <!--- START OF FORM --->
    <form action="/register" method="POST" class="mt-3"> <!-- Specify API route to DB -->
    <!-- app.post('register') is found in index.js -->

      <div class="mb-3" id="username-form">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="usernameInput" name="username" required>
      </div>

      <div class="mb-3" id="password-form">
        <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="passwordInput" name="password" required>
      </div>

      <button type="submit" class="account-portal-button">Submit</button>

    </form>
    <!--- END OF FORM --->

    <p class="mt-3">Already have an account? <a id="register-page-login-button" href="/login">Login</a></p>

  </div>
</div>

