<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="player-card tooltip">
    Contract Start: {{contractStart}}
    Contract End: {{contractEnd}}
    {{/each}}
</button>