<div class="player-card" id="player-card">
    <div class="player-card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Player Name</th>
                    <th>Nationality</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>persons.name</td>
                    <td>persons.nationality</td>
                    <td>persons.position</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>