    <footer class="text-center text-muted w-100 mt-auto fixed-bottom">
        <p>
            &copy; 2024 - CSCI 3308 Group 6
        </p>

        <!-- Navigation Bar Scripts -->
        <script src="/js/navigation-bar/navigation-bar-follow.js"></script>
        <script src="/js/navigation-bar/user/login-and-register-page-linking.js"></script>
        <script src="/js/navigation-bar/user/delete-account-favorite-club.js"></script>

        <!-- Homepage Scripts -->
        <script src="/routes/league-pages/redirect-to-league-url.js"></script>

        <!-- League Pages Scripts -->
        <script src="/js/league-page/change-goal-difference-color.js"></script>
        <script src="/routes/club-pages/redirect-to-club-url.js"></script>

        <!-- Club Pages Scripts -->
        <script src="/js/club-page/favorite-button.js"></script>

    </footer>